@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
$primary: #091a20;
$primary-paler: #2c363f;
$secondary: #fbfef9;
$secondary-dimmer: #bdc0bc;
$tertiary: #9bc0af;
$tertiary-paler: #b2dcc9;
$quaternary: #ff92c2;
$quinary: #ffadfe;
$senary: #0a7ec2;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary;
  color: $secondary;
  font-family: "Golos Text", serif;
  font-weight: 500;

  #demo-toolbar {
    margin: 100px 0 0 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  #inner-main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .demo-display-block {
      background-color: $tertiary;
      color: black;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;

      .username-password {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        // padding: 10px;
      }

      .notes-edit {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        // padding: 10px;
      }
    }

    .demo-input {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      background-color: $primary-paler;
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0px 0px 5px 1px $secondary;

      .input-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;

        input {
          color: $primary;
        }
      }
    }

    #encryption-settings {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;

      input {
        color: $primary;
        width: 310px;
      }
    }
  }
}
