
main{
    background-image: url("/background3_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;

    // header{
    //     width: 100%;
    //     height: 650px;
    //     background-image: url("/lock4_1.png");
    //     background-size: 900px;
    //     background-repeat: repeat;
    //     background-position: center;


    // }
    header{
        margin: 100px 0 0 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img{
            box-shadow: 10px 10px 5px 0px rgb(133, 133, 133);
            width: 1000px;
            height: auto;
            margin: 0 0 0 -800px;
        }

        section{
            background-color: #F3F6F6;
            width: 400px;
            height: 200px;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 2;
            position: absolute;
            top: 400px;
            left: 1300px;

            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                h1{
                    margin: 0;
                }
    
                h3{
                    margin: 0;
                }
            }


            #blinker1 {
                animation: blink-animation 1s steps(5, start) infinite;
                -webkit-animation: blink-animation 1s steps(5, start) infinite;
            }

            #blinker2 {
                animation: blink-animation 1s steps(5, start) infinite;
                -webkit-animation: blink-animation 1s steps(5, start) infinite;
            }

            @keyframes blink-animation {
                to {
                  visibility: hidden;
                }
              }
              
              @-webkit-keyframes blink-animation {
                to {
                  visibility: hidden;
                }
              }
        }
        
    }
}
