@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@import url("../../node_modules/picnic/picnic.min.css");
@import url("../components/NavBar.scss");
@import url("../components/Footer.scss");

$primary: #091a20;
$primary-paler: #2c363f;
$secondary: #fbfef9;
$secondary-dimmer: #bdc0bc;
$secondary-intermediate: #dcdfdb;
$tertiary: #9bc0af;
$tertiary-paler: #b2dcc9;
$quaternary: #ff92c2;
$quinary: #ffadfe;
$senary: #0a7ec2;
$senary-paler: #11a8ff;

main {
  overflow: hidden;
  background-color: $primary !important;
  color: $secondary;
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
  align-items: center !important;
  justify-content: center;
  font-family: "Golos Text", serif;
  font-weight: 500;

  #main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: 50px;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }

    header {
      width: 40%;
      margin: 200px 0 30px 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      row-gap: 0;

      h1 {
        margin: 0;
      }

      #colored {
        color: $quinary;
      }

      #pre-colored {
        text-align: center;
      }
    }

    #subheader {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      padding: 10px 10px 10px 10px;

      #try-demo {
        background-color: $tertiary;
        color: black;
      }

      #learn-more {
        background-color: $quinary;
        color: black;
      }
    }

    .divider {
      margin: 100px 0 80px 0;
      border-bottom: 2px solid $secondary;
      width: 80%;
    }

    #sub-title {
      text-decoration: underline;
      margin: 0 0 50px 0;
    }

    #sub-title:hover {
      cursor: pointer;
    }

    #sub-title-2 {
      color: $secondary-intermediate;
      display: none;
    }

    #info-section {
      width: 80%;
      min-height: 400px;
      position: relative;
      margin: 0 0 70px 0;

      img {
        height: 400px;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 15%;
      }

      #info-cards {
        z-index: 2;
        position: absolute;
        top: 30px;
        right: 20%;
        background-image: linear-gradient(
          to right,
          rgba(255, 0, 0, 0),
          $senary
        );
        padding: 10px 20px 10px 10px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 15px;

        a {
          background-color: $secondary;
          color: $primary;
          padding: 3px 10px 3px 10px;
          border-radius: 20px;
        }
      }
    }
  }

  #footer {
    margin-top: auto;
  }
}

$positionAbsoluteHeight: 250px;

@media screen and (max-width: 500px) {
  main {
    #main-content {
      header {
        width: 90%;
        h1 {
          font-size: 30px;
        }
        #pre-colored {
          text-align: center;
        }
      }

      #sub-title-2 {
        display: block;
        width: 80%;
        text-align: center;
      }

      #info-section {
        align-self: stretch;
        width: 100%;
        min-height: 0;
        height: $positionAbsoluteHeight;

        img {
          width: auto;
          height: calc($positionAbsoluteHeight - 30px);
          left: 20px;
        }

        #info-cards {
          right: 20px;
          gap: 1px;
          align-items: flex-end;
          height: calc($positionAbsoluteHeight - 30px);

          a {
            padding: 0.5px 5px 0.5px 5px;
            font-size: 15px;
          }
        }
      }
    }
  }
}
