$primary: #091a20;
$primary-paler: #2c363f;
$secondary: #fbfef9;
$secondary-dimmer: #bdc0bc;
$tertiary: #9bc0af;
$tertiary-paler: #b2dcc9;
$quaternary: #ff92c2;
$quinary: #ffadfe;
$senary: #0a7ec2;
$senary-paler: #11a8ff;

#decription-animation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
