$primary: #091a20;
$primary-paler: #2c363f;
$secondary: #fbfef9;
$secondary-dimmer: #bdc0bc;
$tertiary: #9bc0af;
$tertiary-paler: #b2dcc9;
$quaternary: #ff92c2;
$quinary: #ffadfe;
$senary: #0a7ec2;
$senary-paler: #11a8ff;

#decrypted {
  display: none;
  // display: flex;
  margin-top: 100px;

  opacity: 0;
  // opacity: 1;

  flex-direction: column;
  translate: 500px;
  align-items: center;
  justify-content: flex-start;

  #banter-loader {
    display: none;
  }

  #ciphertext {
    color: $secondary-dimmer;
    height: auto;
    max-height: 400px;
    overflow: hidden;
    width: 900px;
    outline: 1px solid $tertiary;
    word-break: break-all;
  }

  #decryption-key-title {
    text-align: center;
  }

  #decryption-key-section {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    #decryption-key {
      color: black;
    }
  }

  #forgot-card {
    background-color: $primary-paler;
    border: 1px solid $secondary-dimmer;
    padding: 10px;
    border-radius: 10px;
    display: none;
    opacity: 0;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 10px;
    overflow: hidden;
    // translate: 0px -500px;

    p {
      margin: 0;
      text-wrap: wrap;
      text-align: center;
    }
  }
}

@media screen and (max-width: 500px) {
  #decrypted {
    padding-bottom: 300px;

    #ciphertext {
      width: 90%;
    }

    #decryption-key-section {
      width: 95%;
      font-size: 17px;

      #decryption-key {
        width: 70%;
      }

      button {
        width: 30%;
      }
    }

    #forgot-card {
      width: 90% !important;
    }
  }
}
