@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');


$primary: #2C363F;
$secondary: #F3F6F6;
$tertiary: #9BC0AF;


nav{
    background-color: $primary;
    width: 100%;
    font-family: "Golos Text", serif;
    font-weight: 500;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;

    #nav-left{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;

        color: $secondary;
        font-family: "Golos Text", serif;
        font-weight: 500;

        img{
            width: 30px;
        }
    }

    .menu{
        #demo-button{
            background-color: $tertiary;
            color: black;
        }
    }
}