@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@import url("../../node_modules/picnic/picnic.min.css");

$primary: #091a20;
$primary-paler: #2c363f;
$secondary: #fbfef9;
$secondary-dimmer: #bdc0bc;
$secondary-intermediate: #dcdfdb;
$tertiary: #9bc0af;
$tertiary-paler: #b2dcc9;
$quaternary: #ff92c2;
$quinary: #ffadfe;
$senary: #0a7ec2;
$senary-paler: #11a8ff;

#nav {
  background-color: $primary !important;
  width: 100%;
  font-family: "Golos Text", serif;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  border-bottom: 0.25px solid $tertiary;

  #nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin: 0 0 0 100px;

    color: $secondary !important;
    font-family: "Golos Text", serif;
    font-weight: 500;

    img {
      width: 30px;
    }
  }

  .menu {
    margin: 0 100px 0 0;
    color: $secondary !important;
    background-color: $primary !important;

    #demo-button {
      background-color: $tertiary;
      color: black;
    }

    #github-button {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  #nav {
    #nav-left {
      margin: 0;
    }

    .menu {
      margin: 0;
      background-color: $primary-paler !important;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      font-size: 21px;

      #about-button {
        background-color: transparent;
      }

      #github-button {
        display: block;
      }
    }
  }
}
