@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

$primary: #2C363F;
$secondary: #F3F6F6;
$tertiary: #9BC0AF;


main{
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    background-image: url("/background3_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    
    #inner-main{
        width: 90%;
        margin: 50px 0 50px 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 100px;
        color: $secondary;

        #sidebar-section{

            #sidebar-options{
                background-color: $primary;
                margin: 0 0 20px 0;
                border-radius: 20px;
                color: $secondary;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                .radio-section{

                    label{
                        font-size: 20px;
                        font-weight: 500;
                    }
                }

                .radio-section:hover{
                    background-color: #485866;
                    cursor: pointer;
                }

            }
              


            #sidebar{
                // margin: 0 0 0 130px;
                background-color: $primary;
                border-radius: 20px;
                color: $secondary;
                padding: 10px;
    
                h2{
                    padding: 10px;
                }
                h2:hover{
                    background-color: #485866;
                    cursor: pointer;
                }
                h1:hover{
                    cursor: pointer;
                }
            }
    
            
        }
        
        .article{
            color: $secondary;
            width: 75%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;

            text-align: justify;
        }
    }
}

a{
    text-decoration: none;
    color: $secondary;
}

img{
    align-self: center;
    width: 700px;
}


.inline-link{
    color: $tertiary;
    text-decoration: underline;
}


@media screen and (max-width: 1400px) {
    main{
        #inner-main{
            #sidebar-section{
                width: 300px;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    main{
        #inner-main{
            gap: 30px;

            #sidebar-section{
                width: 250px;

                label{
                    font-size: 15px !important;
                }

                h1{
                    font-size: 25px !important;
                }

                h2{
                    font-size: 20px !important;
                }
            }
        }
    }
}


@media screen and (max-width: 700px) {
    main{
        #inner-main{
            flex-direction: column;
            gap: 10px;

            #sidebar-section{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;

                #sidebar-menu{
                    align-self: flex-start;
                    background-color: transparent;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 10px;

                    #menu-icon{
                        width: 21px;
                        // background-color: #F3F6F6;
                        color: #e2e2e2;
                    }
                }

                #sidebar-menu:hover{
                    cursor: pointer;
                }
                
                #mini-sidebar-hr{
                    align-self: flex-start !important;
                    width: 50px;
                }

                #small-sidebar-hr{
                    width: 100%;
                    border-top: 1px solid $tertiary;
                }

                #sidebar-options{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    background-color: transparent;
                    outline: 0.25px solid $secondary;
                    margin: 0;
                }

                label{
                    font-size: 15px !important;
                }

                h1{
                    font-size: 25px !important;
                }

                h2{
                    font-size: 20px !important;
                }
                h3{
                    font-size: 18px !important;
                }
            }

            dialog{
                position: absolute;
                right: 50%;
                left: 0;
                width: 90%;
                height: 100vh;
                z-index: 10;
                background-color: rgba(0, 0, 0, 0.966);
                border-radius: 0 0 0 20px;
                display: none;
                flex-direction: column;
                padding: 100px 0 0 0;

                h3{
                    margin-left: 20px;
                }

                hr{
                    width: 80%;
                    margin-top: 25px;
                    margin-bottom: 35px;
                }

                h4{
                    margin: 10px 0 10px 50px;
                    text-decoration: underline;
                }
            }

            .article{
                align-self: center;
                width: 80%;
            }
        }
    }
}