@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

$primary: #2C363F;
$secondary: #F3F6F6;
$tertiary: #9BC0AF;


main{
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    background-image: url("/background3_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    
    #inner-main{
        width: 90%;
        margin: 50px 0 50px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 100px;
        color: $secondary;

        #sidebar-section{

            #sidebar-options{
                background-color: $primary;
                margin: 0 0 20px 0;
                border-radius: 20px;
                color: $secondary;
                padding: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                .radio-section{

                    label{
                        font-size: 20px;
                        font-weight: 500;
                    }
                }

                .radio-section:hover{
                    background-color: #485866;
                    cursor: pointer;
                }

            }
              


            #sidebar{
                // margin: 0 0 0 130px;
                background-color: $primary;
                border-radius: 20px;
                color: $secondary;
                padding: 10px;
    
                h2{
                    padding: 10px;
                }
                h2:hover{
                    background-color: #485866;
                    cursor: pointer;
                }
                h1:hover{
                    cursor: pointer;
                }
            }
    
            
        }
        
        .article{
            color: $secondary;

            display: flex;
            flex-direction: column;
            width: 75%;
        }
    }
}

a{
    text-decoration: none;
    color: $secondary;
}